[package]
name = "ehviewer_rust"
version = "0.0.0"

[lib]
crate_type = ["cdylib"]

[dependencies]
tl = "*"
log = "*"
android_logger = "*"
apply = "*"
regex = "*"
once_cell = "*"
quick-xml = "*"
jnix = "*"
jnix-macros = "*"
catch_panic = "*"
catch_panic_macros = "*"
jni_fn = "*"
jni = "0.19.0"

[profile.release]
strip = true
opt-level = "z"
lto = true
