name: EhViewer

on: push

jobs:
  linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
            distribution: temurin
            java-version: 11
      - name: Setup Android SDK Tools
        uses: android-actions/setup-android@v2
      - name: Install NDK
        run: |
          echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;24.0.8215888" --sdk_root=${ANDROID_SDK_ROOT} &> /dev/null
      - uses: gradle/gradle-build-action@v2
      - run: |
          git submodule update --init --recursive
          gradle assembleRelease

      - uses: actions/upload-artifact@v3
        with:
            name: github-${{ github.sha }}
            path: app/build/outputs/apk/release/app-arm64-v8a-release-unsigned.apk
